ibm nodered.json
[{"id":"7f3b8a07.df55f4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f27ef145.e8b52","type":"function","z":"7f3b8a07.df55f4","name":"PreToken","func":"global.set(\"sp\",msg.payload.sp)\nglobal.set(\"de\",msg.payload.de)\nglobal.set(\"eg\",msg.payload.eg)\nvar apikey=\"zVaOw8hdN2LPBOonkfo87D_be0eswxeoneNu5Q1q1X0a\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":160,"y":280,"wires":[["80ebc61b.dd0bb8"]]},{"id":"80ebc61b.dd0bb8","type":"http request","z":"7f3b8a07.df55f4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":360,"wires":[["3731e95c.c67e16"]]},{"id":"6a55da32.175224","type":"inject","z":"7f3b8a07.df55f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":220,"wires":[["f27ef145.e8b52"]]},{"id":"f09aa634.590408","type":"debug","z":"7f3b8a07.df55f4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":80,"wires":[]},{"id":"3731e95c.c67e16","type":"function","z":"7f3b8a07.df55f4","name":"Pre Prediction","func":"var sp = global.get('sp')\nvar eg = global.get('eg')\nvar de = global.get('de')\nvar token=msg.payload.access_token\nvar instance_id=\"384fab1d-7994-43bb-9cfd-9b064756482b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"fd\",\"de\",\"ped\"], \"values\": [[sp,eg,de]]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":260,"wires":[["5b7deb3a.521124"]]},{"id":"5b7deb3a.521124","type":"http request","z":"7f3b8a07.df55f4","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/384fab1d-7994-43bb-9cfd-9b064756482b/deployments/dde44d34-99b0-4f8b-a9ee-cbcd8213ef14/online","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":360,"wires":[["3863d290.ceb9fe"]]},{"id":"3863d290.ceb9fe","type":"function","z":"7f3b8a07.df55f4","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":160,"wires":[["f09aa634.590408","11b5a657.296eca","e276b169.f6b03","9bea40a8.24825"]]},{"id":"61d5c21b.d216cc","type":"ui_form","z":"7f3b8a07.df55f4","name":"","label":"","group":"6e286a94.3ba334","order":1,"width":"12","height":"8","options":[{"label":"Wind Speed","value":"sp","type":"number","required":true,"rows":null},{"label":"Wind Direction","value":"de","type":"number","required":true,"rows":null},{"label":"Theoritical Power","value":"eg","type":"number","required":true,"rows":null}],"formValue":{"sp":"","de":"","eg":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":340,"wires":[["f27ef145.e8b52","ad0ab331.38565"]]},{"id":"11b5a657.296eca","type":"ui_text","z":"7f3b8a07.df55f4","group":"6e286a94.3ba334","order":13,"width":"11","height":3,"name":"","label":"Predicted Power","format":"{{msg.payload}}","layout":"row-center","x":680,"y":220,"wires":[]},{"id":"e276b169.f6b03","type":"ui_gauge","z":"7f3b8a07.df55f4","name":"","group":"6e286a94.3ba334","order":11,"width":"9","height":"5","gtype":"gage","title":"Power Predicted","label":"kWh","format":"{{value}}","min":0,"max":"1000","colors":["#00b500","#33eff9","#2bd7b5"],"seg1":"","seg2":"","x":740,"y":160,"wires":[]},{"id":"ad0ab331.38565","type":"ui_toast","z":"7f3b8a07.df55f4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Here We Go..","name":"message","x":190,"y":440,"wires":[]},{"id":"bcc644e.3aa2db8","type":"http request","z":"7f3b8a07.df55f4","name":"open weater api","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=New%20Delhi,%20IN&appid=a37991d0ea20c0c2bc47b8a78eb8caf9","tls":"","persist":false,"proxy":"","authType":"","x":200,"y":500,"wires":[["be36a02c.ec022","d78a91f6.aba1a","356be029.00f9a","3a257f1f.b1dcf"]]},{"id":"be36a02c.ec022","type":"function","z":"7f3b8a07.df55f4","name":"Current Temperature","func":"msg.payload=msg.payload.main.temp;\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":500,"wires":[["a102c8ef.1999c8"]]},{"id":"68694dbb.bf3cc4","type":"inject","z":"7f3b8a07.df55f4","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":75,"y":500,"wires":[["bcc644e.3aa2db8"]],"l":false},{"id":"a102c8ef.1999c8","type":"ui_gauge","z":"7f3b8a07.df55f4","name":"","group":"6e286a94.3ba334","order":4,"width":"3","height":"3","gtype":"wave","title":"Temperature","label":"K","format":"{{value}}","min":0,"max":"350","colors":["#00ffff","#21bcc5","#4981b8"],"seg1":"","seg2":"","x":595,"y":500,"wires":[],"l":false},{"id":"d78a91f6.aba1a","type":"function","z":"7f3b8a07.df55f4","name":"","func":"msg.payload=msg.payload.main.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":540,"wires":[["b33e30a4.0b21d"]]},{"id":"356be029.00f9a","type":"function","z":"7f3b8a07.df55f4","name":"","func":"\nmsg.payload=msg.payload.wind.speed;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":425,"y":600,"wires":[["998f3440.1bc028"]]},{"id":"b33e30a4.0b21d","type":"ui_gauge","z":"7f3b8a07.df55f4","name":"","group":"6e286a94.3ba334","order":9,"width":"3","height":"3","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":580,"y":540,"wires":[]},{"id":"998f3440.1bc028","type":"ui_gauge","z":"7f3b8a07.df55f4","name":"","group":"6e286a94.3ba334","order":7,"width":"3","height":"3","gtype":"compass","title":"Wind Speed","label":"m/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ffff00"],"seg1":"","seg2":"","x":590,"y":600,"wires":[]},{"id":"3a257f1f.b1dcf","type":"function","z":"7f3b8a07.df55f4","name":"","func":"msg.payload=msg.payload.main.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":660,"wires":[["52a4f722.fb36d8"]]},{"id":"52a4f722.fb36d8","type":"ui_gauge","z":"7f3b8a07.df55f4","name":"","group":"6e286a94.3ba334","order":8,"width":"3","height":"3","gtype":"donut","title":"Pressure","label":"hPa","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":660,"wires":[]},{"id":"9bea40a8.24825","type":"ui_text","z":"7f3b8a07.df55f4","group":"6e286a94.3ba334","order":2,"width":"10","height":"1","name":"","label":"Current Weather Conditions","format":"{{msg.payload}}","layout":"row-center","x":380,"y":80,"wires":[]},{"id":"6e286a94.3ba334","type":"ui_group","z":"","name":"Enter The Parameters","tab":"b58cce8f.71693","order":1,"disp":true,"width":"25","collapse":false},{"id":"b58cce8f.71693","type":"ui_tab","z":"","name":"Wind Output Predictor","icon":"dashboard","disabled":false,"hidden":false}]